body {
  min-width: calc(#{$site-width} + 40px);
}

.BC {
  display: none;
}

.mainHeader {
  background-color: #000000;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 0 0 130px;
  height: 63px;
  padding-left: 250px;
  background: url(../img/logo.png) no-repeat left center;
  @extend .light;
  color: #fff;
  font-size: 12px;
  line-height: 1.3;
  text-decoration: none;
}

.menu1 {
  @extend .ul-reset;

  li {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    font-size: 0;

    &:before {
      content: '|';
      display: block;
      position: absolute;
      left: -13px;
      top: 1px;
      font-size: $font-size;
      color: #fff;
    }

    &:first-child {
      &:before {
        display: none;
      }
    }
  }

  &__link {
    @extend .linkSpan;
    font-size: $font-size;
    color: #fff;
  }
}

.contacts {
  text-align: right;

  &__phone {
    display: block;
    margin-bottom: 5px;
    @extend .womby;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
  }

  &__address {
    @extend .link;
    font-size: 14px;
    color: #fff;
  }
}

.mainSlider {
  position: relative;
  height: 980px;
  overflow: hidden;

  &__item {
    height: 980px;
    padding: 120px 0 0 0;
    box-sizing: border-box;
    background-size: cover;
  }

  &__itemInner {
    margin: 0 auto;
    width: 628px;
    height: 389px;
    padding: 75px 0 0 0;
    background-image: url(../img/border.png);
    color: #fff;
    text-align: center;
    box-sizing: border-box;
  }

  &__itemText1 {
    margin: 0 auto;
    width: 88%;
    @extend .black;
    font-size: 26px;
    line-height: 1.2;
  }

  &__itemText2 {
    margin: 10px auto 30px;
    width: 88%;
    @extend .light;
    font-size: 18px;
    line-height: 1.2;
  }

  &__itemHeader {
    position: absolute;
    left: 0;
    margin: 10px auto 0;
    width: $site-width;
    @extend .black;
    font-size: 82px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }

  &__itemText3 {
    margin: 10px auto 30px;
    width: 88%;
    @extend .light;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
  }

  &__itemLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__itemLink {
    display: inline-block;
    margin: 0 30px;
  }

  .owl-prev, .owl-next {
    top: -720px;
  }

  .owl-nav {
    position: relative;
    margin: 0 auto;
    width: $site-width;
  }
}

.socials {

  &__item {
    display: inline-block;
  }
}

.bottomHeader {
  position: relative;
  background-color: #575757;
  box-shadow: 0 1px 8px 0 darken(#575757, 10%);

  &_main {
    position: absolute;
    z-index: 10;
    box-shadow: none;
    width: 100%;
    background-color: transparent;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  &__presentation {
    @extend .linkSpan;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    padding: 0 0 0 35px;
    background: url(../img/presentation.png) no-repeat left center;
    color: #fff;
  }

  &__menu {
    @extend .ul-reset;

    li {
      display: inline-block;
      position: relative;
      margin: 0 50px;
      font-size: 0;

      &:before {
        content: '|';
        display: block;
        position: absolute;
        left: -50px;
        top: 1px;
        font-size: 24px;
        color: #fff;
      }

      &:first-child {
        &:before {
          display: none;
        }
      }
    }
  }

  &__menuLink {
    @extend .linkSpan;
    @extend .black;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
  }
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;

  &__item {
    opacity: 0.5;
    @extend .transition;

    &:hover {
      opacity: 0.8;
    }
  }
}

.underMainSlider {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  padding: 20px 0 20px;
  background-color: rgba(0, 0, 0, 0.4);

  &__inner {
    text-align: center;
  }

  &__top {
    margin-bottom: 10px;
    @extend .black;
    font-size: 48px;
    color: $pinkLightColor;
    text-transform: uppercase;
    line-height: 1.2;
  }

  &__bottom {
    @extend .light;
    font-size: 18px;
    color: #fff;
    line-height: 1.3;
  }

  &__arrow {
    display: inline-block;
    margin-top: 15px;
    width: 55px;
    height: 55px;
    background-image: url(../img/arrowBottom.png);
  }
}

.owl-prev, .owl-next {
  position: absolute;
  z-index: 10;
  width: 92px;
  height: 92px;
}

.owl-prev {
  left: 0;
  background-image: url(../img/arrowLeft.png);
}

.owl-next {
  right: 0;
  background-image: url(../img/arrowRight.png);
}

.steps {
  padding: 45px 0 0 0;
  background: url(../img/bgp.png) no-repeat center center;
  background-size: cover;

  &__header {
    margin-bottom: 60px;
    @extend .black;
    font-size: 38px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    counter-reset: list;
  }

  &__item {
    position: relative;
    margin-bottom: 50px;
    flex: 0 0 310px;
    padding: 130px 10px 0;
    background: url(../img/borderP.png) no-repeat center 20px;
    @extend .light;
    font-size: 18px;
    color: #fff;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: -222px;
      width: 318px;
      height: 50px;
      background-image: url(../img/arrowW.png);
    }

    &:after {
      counter-increment: list;
      content: "0" counter(list);
      position: absolute;
      left: 0;
      right: 0;
      top: 48px;
      margin: 0 auto;
      width: 73px;
      @extend .womby;
      font-size: 60px;
      text-align: center;
    }

    &:nth-child(3n-2) {
      &:before {
        display: none;
      }
    }
  }
}

.yandex {
  position: relative;
  box-shadow: 0 1px 10px 0 lighten(#202020, 10%);
  height: 609px;
  overflow: hidden;

  &__inner {
    display: flex !important;
    flex-wrap: wrap;
    
    .owl-stage {
      background-color: #202020;
    }

    .owl-stage-outer {
      order: 2;
    }

    .owl-nav {
      order: 1;
      position: relative;
      margin: 0 auto;
      width: $site-width;
    }

    .owl-next, .owl-prev {
      top: 140px;
    }
  }

  &__item {

  }

  &__top {
    position: relative;
    box-shadow: 0 1px 5px 0 #000;
    padding: 25px 0;
    background-image: url(../img/bgb.png);
    background-size: cover;

    .container {
      display: flex;
      justify-content: space-between;
    }
  }

  &__topLeft {
    margin-left: 110px;
    flex: 0 0 329px;
    height: 329px;
    background-size: cover;
  }

  &__topRight {
    margin-left: 35px;
    flex: 1 1 auto;
    padding: 20px 120px 0 0;
  }

  &__topYear {
    color: #fff;
    line-height: 1.3;
  }

  &__topHeader {
    display: block;
    margin: 20px 0 30px;
    @extend .black;
    font-size: 38px;
    color: #fa4b52;
    text-decoration: none;
  }

  &__topText {
    color: #fff;
    line-height: 1.3;
  }
  
  &__middle {
    background-color: #292929;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 110px;
    }
  }

  &__middleLeft {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 45px;
    height: 65px;
    padding: 0 0 0 75px;
    background: url(../img/yaya.png) no-repeat left center;
    @extend .black;
    font-size: 30px;
    color: #fff;

    &:before {
      content: '';
      display: block;
      position: absolute;
      right: -24px;
      top: 3px;
      width: 1px;
      height: 63px;
      background-color: #fff;
    }
  }

  &__middleRight {
    @extend .light;
    font-size: 24px;
    color: #fff;
  }
  
  &__bottom {
    padding: 30px 0 25px;
    background-color: #202020;

    .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 25px;
      box-sizing: border-box;
    }
  }

  &__bottomItem {
    margin-bottom: 20px;
    flex: 0 0 310px;
    line-height: 1.3;
  }

  &__bottomItemTop {
    @extend .black;
    font-size: 20px;
    color: #fff;

    &:before {
      content: '- ';
    }
  }

  &__bottomItemBottom {
    @extend .light;
    font-size: 15px;
    color: #fff;

    a {
      @extend .link;
      @extend .black;
      color: $pinkColor;
    }
  }
}

.advantages {
  padding: 40px 0 0 0;
  background-image: url(../img/aabg.png);
  background-size: cover;

  &__inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
    flex: 0 0 535px;
    color: #fff;
  }

  &__left {
    position: relative;
    margin-right: 40px;
    flex: 0 0 164px;
    height: 164px;
    background-position: center center;
    background-repeat: no-repeat;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background-image: url(../img/aBg.png);
    }
  }

  &__header {
    margin-bottom: 10px;
    @extend .black;
    font-size: 21px;
    text-transform: uppercase;
  }

  &__text {
    line-height: 1.3;
  }
}

.mainForm {
  border-bottom: 8px solid #000;
  padding: 40px 0 20px 0;
  background-image: url(../img/bgb.png);
  background-size: cover;
  color: #fff;
  text-align: center;

  &_company {
    padding-top: 20px;
    border-bottom: none;
    background: none;

    hr {
      display: none;
    }

    .mainForm__submit {
      margin-top: 20px;
    }
  }

  &__header {
    margin-bottom: 10px;
    @extend .black;
    font-size: 38px;
    text-transform: uppercase;
  }

  &__text {
    @extend .light;
    font-size: 18px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px auto 0;
    width: 710px;
  }

  .form-group {
    margin: 0 7px 15px 7px;

    input {
      width: 220px;
    }
  }

  &__address {
    flex: 0 0 100%;

    input {
      width: 460px !important;
    }
  }

  &__requiredText {
    margin: 5px 0 15px;
    font-size: 14px;
    color: #ffc7b8;
  }

  hr {
    margin-bottom: 20px;
    border: none;
    height: 1px;
    background: url(../img/hr.png) no-repeat center center;
  }

  &__submit {
    width: 460px;
    padding-top: 10px;
  }
  
  .input {
    background-color: #353336;
  }
}

#map {
  height: 710px;
}

.map {
  position: relative;

  .header {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    border-top: 8px solid #000;
    background-color: rgba(0, 0, 0, 0.4);

    &:before, &:after {
      display: none;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 75px;

      span {
        margin: 0 15px;
        font-size: 24px;
        color: #fff;
      }

      &:before {
        content: '';
        display: block;
        flex: 1 1 auto;
        height: 1px;
        background-color: #6d6d6d;
      }

      &:after {
        content: '';
        display: block;
        flex: 1 1 auto;
        height: 1px;
        background-color: #6d6d6d;
      }
    }
  }

  &__top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    
    &_2 {
      position: static;
      background-image: url(../img/bgb.png);
      background-size: cover;
    }
  }

  &__topInner {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  &__topItem {
    display: flex;
    align-items: center;
    flex: 0 0 240px;
    height: 150px;
    padding: 0 0 0 90px;
    background-position: left center;
    background-repeat: no-repeat;
    font-size: 18px;
    color: #fff;
    line-height: 1.3;
  }

  &__content {
    position: absolute;
    top: 300px;
    left: 0;
    width: 250px;

    .container {
      width: 100%;
    }
  }
  
  .contacts__address {
    margin: 30px 0;
    border: none;
    cursor: text;
  }

  .contacts__phone {
    display: inline-block;
    margin: 30px 0;
    font-family: $font-family !important;
  }

  .contacts__email {
    margin: 30px 0;
    @extend .link;
    color: #fff;
  }

  .button1 {
    margin: 30px 0;
  }
}

.mainFooter {
  height: 185px;
  background-color: #000;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }

  &__left {
    flex: 0 0 380px;
  }

  &__right {
    flex: 0 0 240px;
    text-align: right;
  }

  &__leftText {
    margin-top: 20px;
    @extend .light;
    font-size: 12px;
    color: #fff;
    line-height: 1.4;
    text-align: center;
  }

  &__rightText {
    font-size: 14px;
    color: #fff;
  }

  &__socials {
    display: inline-block;
    margin-top: 20px;
    width: 200px;
  }

  .socials {
    width: 100%;
  }

  &__menu {
    @extend .ul-reset;

    li {
      margin-top: 22px;

      &:first-child {
        margin-top: 0;
      }

      &:before {
        content: '-';
        display: inline-block;
        margin-right: 5px;
        color: #fff;
      }
    }
  }

  &__menuLink {
    @extend .link;
    color: #fff;
  }

  &__menu2 {
    @extend .ul-reset;

    li {
      margin-top: 19px;

      &:first-child {
        margin-top: 0;
      }

      &:before {
        content: '-';
        display: inline-block;
        margin-right: 5px;
        @extend .black;
        font-size: 18px;
        color: #fff;
      }
    }
  }

  &__menu2Link {
    @extend .link;
    @extend .black;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
  }

  .logo {
    background-image: url(../img/logoFooter.png);
  }
}

.popup {
  display: none;
}

#callback {
  padding: 0;
  background-color: transparent;

  .logo {
    margin: 0 auto;
    width: 130px;
  }
  
  .mainForm {
    background: transparent;
  }
}

.mainSection {
  padding: 1px 0;
  background-color: $mainBgColor;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;

  span {
    margin: 0 15px;
    font-size: 24px;
    color: #fff;
  }

  &:before {
    content: '';
    display: block;
    flex: 1 1 auto;
    height: 1px;
    background-color: #6d6d6d;
  }

  &:after {
    content: '';
    display: block;
    flex: 1 1 auto;
    height: 1px;
    background-color: #6d6d6d;
  }
}

.news {

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex: 0 0 585px;
    padding: 15px;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    @extend .transition;
    
    &:hover {
      background-color: #4b4b4b;

      .news__itemDate {
        background-color: $pinkColor;
        color: #fff;

        &:before {
          filter: invert(100%);
        }
      }
    }

    &_unhover {
      &:hover {
        background-color: transparent;

        .news__itemDate {
          background: #cfcfcf;
          color: #000;

          &:before {
            filter: invert(0%);
          }
        }
      }
    }

    .news__itemHeader {
      font-size: 20px;
    }

    .news__itemText {
      font-size: 16px;
    }
  }

  &__itemLeft {
    margin-right: 15px;
    flex: 0 0 278px;
    height: 278px;
    background-size: cover;

    &_big {
      flex: 0 0 417px;
      height: 417px;
    }
  }

  &__itemRight {
    flex: 1 1 auto;
  }

  &__itemDate {
    display: inline-block;
    position: relative;
    padding: 11px 10px 10px 40px;
    background: #cfcfcf;
    font-size: 14px;
    color: #000;
    @extend .transition;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 11px;
      top: 7px;
      width: 19px;
      height: 19px;
      background-image: url(../img/calendar.png);
      @extend .transition;
    }
  }

  &__itemHeader {
    display: block;
    margin: 25px 0;
    font-size: 18px;
  }

  &__itemText {
    font-size: 14px;
    line-height: 1.3;
  }
}

.pagination {
  @extend .ul-reset;
  margin: 30px 0 50px;
  font-size: 0;
  text-align: center;

  li {
    display: inline-block;
    border-top: 1px solid #555555;
    border-bottom: 1px solid #555555;
    @extend .transition;

    &:last-child {
      .pagination__item {
        border-right: 1px solid #555555;
      }
    }

    &.active, &:hover {
      border-color: #d5d5d5;

      .pagination__item {
        border-color: #d5d5d5;
        background-color: #d5d5d5;
        color: #000;
      }
    }
  }

  &__item {
    display: block;
    border-left: 1px solid #555555;
    padding: 10px;
    background-color: transparent;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    @extend .transition;
  }
}

.vacancy {
  margin-bottom: 50px;
  padding: 30px;
  background-color: #2e2e2e;

  &__header {
    margin-bottom: 40px;
    @extend .black;
    font-size: 36px;
    color: $pinkColor;
    text-align: center;
    text-transform: uppercase;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    flex: 0 0 360px;
    color: #fff;
    text-align: left;

    &:nth-child(2) {
      flex: 0 0 270px;
    }

    &:first-child, &:last-child {
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        width: 1px;
        background-color: #5c5c5c;
      }
    }

    &:first-child {
      &:before {
        right: -35px;
      }
    }

    &:last-child {
      &:before {
        left: -35px;
      }
    }

    ul {
      @extend .ul-reset;
    }

    li {
      margin: 25px 0;
      @extend .light;
      font-size: 18px;
      line-height: 1.3;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__itemHeader {
    margin: 25px 0;
    @extend .black;
    font-size: 20px;
    color: #ffc7b8;
    text-transform: uppercase;

    &:first-child {
      margin-top: 0;
    }
  }
}

.company {
  position: relative;
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 25;
    width: 100%;
    height: 1138px;
    background-image: url(../img/aabg.png);
    background-size: cover;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    z-index: 30;
    box-shadow: 0 268px 60px 0 #3b3b3b;
    width: 100%;
    height: 820px;
    bottom: 1138px;
  }

  .container {
    position: relative;
    z-index: 50;
  }

  &__text {
    margin: 0 auto;
    width: 665px;
    @extend .light;
    font-size: 18px;
    color: #fff;
  }

  &__hr {
    margin: 30px 0;
    width: 100%;
    height: 2px;
    background-image: url(../img/he2.png);
    background-size: cover;
  }

  &__faces {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__face {
    margin: 0 0 30px;
    flex: 0 0 320px;
    color: #fff;
    text-align: center;
  }

  &__faceImage {
    display: inline-block;
    margin-bottom: 15px;
    width: 199px;
    height: 199px;
    background-size: cover;
  }

  &__faceName {
    margin-bottom: 10px;
    @extend .light;
    font-size: 20px;
  }

  &__faceFunction {
    @extend .light;
    font-size: 14px;
  }
}

.adv {

  &__inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 30px;
    flex: 0 0 400px;
    color: #fff;
    text-align: center;
  }

  &__itemImage {
    display: inline-block;
    margin-bottom: 25px;
    width: 122px;
    height: 122px;
    background-size: cover;
  }

  &__itemHeader {
    margin-bottom: 10px;
    @extend .black;
    font-size: 18px;
    text-transform: uppercase;
  }

  &__itemText {
    line-height: 1.3;
  }
}

.usluga {

  &__tabs {
    text-align: center;
  }

  &__tab {
    margin: 0 20px;
    @extend .button1;
    font-weight: normal;
    background-color: transparent;
    font-size: 18px;
    text-transform: none;
  }

  &__header {
    margin: 30px 0;
    @extend .black;
    font-size: 36px;
    color: #ffc7b8;
    text-transform: uppercase;
  }

  &__steps {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 20px;
    padding: 25px;
    background-color: #2e2e2e;
  }

  &__step {
    position: relative;
    flex: 0 0 350px;

    &:before {
      content: '';
      position: absolute;
      left: -270px;
      top: 0;
      width: 258px;
      height: 34px;
      background-image: url(../img/arrowRed.png);
    }
    
    &:first-child {
      &:before {
        display: none;
      }
    }
  }

  &__stepNumber {
    @extend .black;
    font-size: 36px;
    color: $pinkColor;

    span {
      font-size: 60px;
    }
  }

  &__stepHeader {
    margin: 20px 0 15px;
    @extend .black;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.3;
  }

  &__stepText {
    color: #fff;
    line-height: 1.3;
  }

  &__text {
    margin: 50px 0;
    @extend .light;
    font-size: 22px;
    color: #ffc7b8;
    text-align: center;
  }
}

.clients {

  &__inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__item {
    margin-top: 50px;
    flex: 0 0 329px;
    text-align: center;
  }

  &__itemImage {
    display: inline-block;
    margin-bottom: 15px;
    width: 329px;
    height: 329px;
    background-size: cover;
  }

  &__itemName {
    @extend .linkSpanReverse;
    @extend .black;
    font-size: 26px;
    color: #fa4b52;
  }

  &__itemText {
    margin-top: 5px;
    @extend .light;
    color: #fff;
    line-height: 1.3;
  }
}

.success {
  &__wrapper {
    background-color: transparent;
    color: #fff;
    text-align: center;

    .logo {
      margin: 0 auto;
      width: 130px;
    }

    div {
      line-height: 1.5;
    }
  }
}

.fancybox-is-open .fancybox-bg {
  background-color: #000;
  opacity: 0.95;
}