$site-width: 1240px;

$font-family: MuseoSans, Arial, sans-serif;
$font-size: 16px;

$grid-gap: 10px;

$margin: 30px;

$textColor: #000;
$pinkColor: #fe3370;
$pinkLightColor: #ffc7b8;
$placeholderColor: #7b7a7b;
$mainBgColor: #3b3b3b;